<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Chubacha</title>
    <link rel="stylesheet" href="../styles/style_joaco.css">
    <!---->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>


<body>
    <!-- header -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Chubacha</label>
        <ul>
            <li><a class="" href="index.html">Home</a></li>

            <li><a class="active" href="login.html">Iniciar sesion</a></li>
            <li><a class="register" href="register.html">Registrarse</a></li>
            <li> <a href="carrito.html" style="font-size:24px"><i class="fa fa-shopping-cart"></i></a></li>

        </ul>
    </nav>



    <!-- Login-->
    <div class="limiter">
        <div class="container-login100">
            <div class="product_div">
                <p>Nombre del producto</p>
                <input class="input100" type="text"  name="pass" >
                <span class="focus-input100"></span>

                <p>Descripcion</p>
                <input class="input100" type="text"  name="pass" >
                <span class="focus-input100"></span>

                <p>Precio</p>
                <input class="input100" type="text"  name="pass" placeholder="0000.00">
                <span class="focus-input100"></span>

                <p>Categoria</p>
                <select name="productos" id="productos">
                    <option value="volvo">Teclados</option>
                    <option value="saab">Mouse</option>
                    <option value="mercedes">Auriculares</option>
                    <option value="audi">Monitores</option>
                  </select>
            </div>
            <div>
                <input  class="input100" type="file" id="img" name="img" accept="image/*">

                        <span class="focus-input100"></span>


                        <div class="button_carrito">
                            
                            <button class="login100-form-btn">
                                Borrar
                            </button>
                            <input type="submit" value="publicar" class="login100-form-btn">

                        
                        </div>
            </div>
            



            <!-- <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title palabraLogin">
                        Login
                    </span> -->

                    <!--Input para el correo-->
                    <!-- <div class="wrap-input100 validate-input div-del-input" data-validate="Username is required">
                        <input class="input100" type="text" required name="username" placeholder="Correo electronico">
                        <span class="focus-input100"></span>
                    </div> -->

                    <!-- input para la contraseña-->
                    <!-- <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" type="password" required name="pass" placeholder="Contraseña">
                        <span class="focus-input100"></span>
                    </div> -->

                    <!--boton de Login-->
                    <!-- <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div> -->

                    <!--boton de login con google-->
                    <!-- <div class="container-login100-form-btn m-t-17 google-div">
                        <button class="login100-form-btn google-btn">
                            <span class="fab fa-google"></span> Ingresar con Google
                        </button> -->
<!--                     </div>

                </form>
            </div> -->
        </div>
    </div>




    <!-- footer -->
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>
                    Sobre nosotros</h2>
                <div class="content">
                    <p>
                        Chubacha ofrece los mejores productos de tecnologia con la tematica de Star Wars.</p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>
                    Donde estamos</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Digital House</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+54-333-3333</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">contacto@chubacha.com</span>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>

</html>
