<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <div class="limiter">
        <form method="POST" action="/productos/crearproducto" enctype="multipart/form-data">
            <div class="container-login100">

                <div class="product_div">

                    <p>Nombre del producto</p>
                    <input class="input100" type="text" name="name">
                    <span class="focus-input100"></span>

                    <p>Descripcion</p>
                    <input class="input100" type="text" name="description">
                    <span class="focus-input100"></span>

                    <p>Precio</p>
                    <input class="input100" type="text" name="price" placeholder="0000.00">
                    <span class="focus-input100"></span>

                    <p>Categoria</p>
                    <select name="category_id" id="productos">
                        <option value="Teclado">Teclados</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Auricular">Auriculares</option>
                        <option value="CPU">CPU</option>
                    </select>
                </div>
                <div>
                    <input class="input100" type="file" id="image" name="image" accept="image/*">
                    <span class="focus-input100"></span>

                    <div class="button_carrito">
                        <input class="login100-form-btn" type="reset" value="reset">
                        <input type="submit" value="publicar" class="login100-form-btn">
                    </div>

                </div>

            </div>
        </form>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>