<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <div class="limiter">
    <form method="POST" action="/productos/crearproducto" enctype="multipart/form-data">
        <div class="container-login100">
            
                <div class="product_div">

                    <p>Nombre del producto</p>
                    <input class="input100" type="text" name="nombre">
                    <span class="focus-input100"></span>

                    <p>Descripcion</p>
                    <input class="input100" type="text" name="descripcion">
                    <span class="focus-input100"></span>

                    <p>Precio</p>
                    <input class="input100" type="text" name="precio" placeholder="0000.00">
                    <span class="focus-input100"></span>

                    <p>Categoria</p>
                    <select name="tipoProductos" id="productos">
                        <option value="Teclados">Teclados</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Auriculares">Auriculares</option>
                        <option value="Monitores">Monitores</option>
                    </select>
                </div>
                <div>
                    <input class="input100" type="file" id="img" name="img" accept="image/*">
                    <span class="focus-input100"></span>

                    <div class="button_carrito">
                        <input class="login100-form-btn" type="reset" value="reset">
                        <input type="submit" value="publicar" class="login100-form-btn">
                    </div>

                </div>
            
        </div>
    </form>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>