<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chubacha</title>
  <link rel="stylesheet" type="text/css" href="../styles/style_eric.css">

  
  <!---->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- header -->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Chubacha</label>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">Iniciar sesion</a></li>
      <li><a class="register" href="#">Registrarse</a></li>
      <li> <a href="carrito.html" style="font-size:24px"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
  </nav>


  <!-- main content **************************   -->

  <img class="imgheader" src="../images/prueba2.jpg" alt=""><br>
  <br>
  <div class="primera-division-imagenes">
      <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri1.JPG" alt="">
        <h1 style="color: black; font-size: medium;">Auricular Arturito</h1>
        <button class="buttondetails">Mas Detalles</button>
      </div>
      <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri2.JPG" alt="">
        <h1 style="color: black; font-size: medium;">Auricular Star</h1>
        <button class="buttondetails">Mas Detalles</button>
      </div>
      <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri3.JPG" alt="">
        <h1 style="color: black; font-size: medium;">Auricular Darth</h1>
        <button class="buttondetails">Mas Detalles</button>
      </div>
      <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri4.JPG" alt="">
        <h1 style="color: black; font-size: medium;">Auricular Storm</h1>
        <button class="buttondetails">Mas Detalles</button>
      </div>
      <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/artur_ppen_usb.jpg" alt="">
        <h1 style="color: black; font-size: medium;">Pendrive Arturito</h1>
        <button class="buttondetails">Mas Detalles</button>
      </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/darth_pen_usb.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Pendrive Darth Vader</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/darthmaul_pen_usb.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Pendrive Darth Maul</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/yoda_pen_usb.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Pendrive Yoda</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Alfombrilla Darth</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla_2.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Alfombrilla Arturito</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla_storm.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Alfombrilla Storm</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
        <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/mouse.jpg" alt="">
          <h1 style="color: black; font-size: medium;">Mouse Darth Vader</h1>
          <button class="buttondetails">Mas Detalles</button>
        </div>
      </div>



  <!-- footer -->
  <footer>
    <div class="main-content">
      <div class="left box">
        <h2>
          Sobre nosotros</h2>
        <div class="content">
          <p>
            Chubacha ofrece los mejores productos de tecnologia con la tematica de Star Wars.</p>
          <div class="social">
            <a href="https://www.facebook.com/chubacha.mje.3/about?lst=100053719867525%3A100053719867525%3A1595133310"target="_blank"><span class="fab fa-facebook-f"></span></a>
            <a href="https://twitter.com/Chubacha5" target="_blank"><span class="fab fa-twitter"></span></a>
            <a href="https://www.instagram.com/chubachamje" target="_blank"><span class="fab fa-instagram"></span></a>
            <a href="https://www.youtube.com/channel/UChjkFT13oJFEqjxUPbUnEUg/" target="_blank"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
      <div class="center box">
        <h2>
          Donde ubicarnos </h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text"><a href="https://goo.gl/maps/8uFQ17BGySEvKP9u7" target="_blank"> Digital House </a></span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text"><a href="https://wa.me/1149724863" target="_blank">Chatea por Whatsapp</a></span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text"><a href="mailto:chubacha.dh@gmail.com" target="_blank">Escribinos  <---- </a></span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
</body>

</html>