<!--vista de error 404-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>

</head>

<body>
    <%- include('partials/header.ejs') %>

    <div class="container-404">
        <img src="/images/404.jpg" alt="404-error" style="width: 100%">
        <h1 class="titulo-404">Pagina no encontrada - 404</h1>
    </div>

    <%- include('partials/footer.ejs') %>
</body>

</html>