<!DOCTYPE html>
<html lang="en">

<style>
    
</style>

<%- include('partials/head') %> 
<body class="profile">
    <%- include('partials/header') %>
    <div class="container-profile">
        <h1>Bienvenido al Portal de usuarios de nuestro Sitio!</h1><br>
        <h2>Por favor carga una imagen de perfil para continuar</h2><br>
        <form class="form-profile" action="users/profile" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar"><br>
            <input type="submit" value="Enviar"><br>
          </form>
    </div> 
    <%- include('partials/footer') %> 
</body>
</html>