<!DOCTYPE html>
<html lang="en">

<style>
    
</style>

<%- include('partials/head') %> 
<body class="profile">
    <%- include('partials/header') %>
    <div class="container-profile">
        <h1>Bienvenido al Portal de usuarios de nuestro Sitio!</h1><br>

    </div> 
    <%- include('partials/footer') %> 
</body>
</html>