<!--formulario para registrar un usuario-->
<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <!--Register-->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">



                <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/users/register"
                    enctype="multipart/form-data">
                    <!--Titulo de registrarse-->
                    <span class="login100-form-title palabraLogin">
                        Registrarse
                    </span>

                    <!-- NOMBRE -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="name" placeholder="Nombre" type="text">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- APELLIDO -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="lastname" placeholder="Apellido" type="text">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- CORREO ELECTRONICO -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="email" class="input100" required name="email" placeholder="Correo electronico">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- PASSWORD -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="password" class="input100" type="password" name="password" required
                            placeholder="Contraseña">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- CONFIRMACION PASSWORD -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="password" class="input100" type="password" name="verifypassword" required
                            placeholder="Confirmar contraseña">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- CARGA IMAGEN PERFIL -->
                    <!-- <div>
                        <h3>Por favor carga una imagen de perfil para continuar</h3><br>
                        <input type="file" name="avatar"><br>
                    </div> -->

                    <!--REGISTRO -->
                    <div class="container-login100-form-btn m-t-17">
                        <input onclick="window.location.href = '/users/profile';" type="submit" value="registrarse"
                            class="login100-form-btn">
                        </input>
                    </div>



                </form>



            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>
</body>

</html>