<!-- footer -->
<footer>
    <div class="main-content">
      <div class="left box">
        <h2>
          Sobre nosotros</h2>
        <div class="content">
          <p>
            Chubacha ofrece los mejores productos de tecnologia con la tematica de Star Wars.</p>
          <div class="social">
            <a href="https://www.facebook.com/chubacha.mje.3/about?lst=100053719867525%3A100053719867525%3A1595133310"target="_blank"><span class="fab fa-facebook-f"></span></a>
            <a href="https://twitter.com/Chubacha5" target="_blank"><span class="fab fa-twitter"></span></a>
            <a href="https://www.instagram.com/chubachamje" target="_blank"><span class="fab fa-instagram"></span></a>
            <a href="https://www.youtube.com/channel/UChjkFT13oJFEqjxUPbUnEUg/" target="_blank"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
      <div class="center box">
        <h2>
          Donde ubicarnos </h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text"><a class="footer-a" href="https://goo.gl/maps/8uFQ17BGySEvKP9u7" target="_blank"> Digital House </a></span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text"><a class="footer-a" href="https://wa.me/1149724863" target="_blank">Chatea por Whatsapp</a></span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text"><a class="footer-a" href="mailto:chubacha.dh@gmail.com" target="_blank">Escribinos  <---- </a></span>
          </div>
        </div>
      </div>
      </div>
    </div>
     <!--Boton Whatsapp-->
<a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
<!--Fin Boton-->
  </footer>